{% extends "base.html "%}
{% block title%} homescreen {% endblock%}

{% block header %}
<style>
    .menu ui li a:hover{
        font-size: 16px;
        color: #f1f7c4;
    }
</style>
    <span class="menu">
        <ui>
            <li style="list-style: none; float: right; margin-top: 25px;">
                <a style="color:  #f3f7cc; text-decoration: none;" href="{% url 'login' %}"> Log In </a>
            </li>
        </ui>
    </span>
{% endblock %}
{% block content %}
    <h2> Welcome to Note Taker....</h2>

    <br></br>

    <p>
        Please register to access note and track records of your notes <a href="{% url 'register' %}"> Register Here</a>
    </p>
    


{% endblock%}